:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#aside-container {
    height: auto;
    width: auto;
    margin: 1rem;
    top: 0;
}

#navbar-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#pages {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    #layout {
        flex-direction: column;
    }

    #aside-container,
    #navbar-container {
        margin: 0.5rem;
    }
}


@media (max-width: 320px) {
    #layout {
        flex-direction: column;
    }

    #aside-container,
    #navbar-container {
        margin: 0.25rem;
    }

    #navbar-container {
        font-size: 0.8rem;
    }

    #aside-container {
        font-size: 0.8rem;
    }
}